# Корневой файл конфигурации (не искать выше по папкам)
root = true

# Правила для всех файлов
[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

# Специально для Markdown
[*.md]
trim_trailing_whitespace = false

