@use '/src/shared/styles/global/variables' as *;

.navbar {
  padding: 0;

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  }

  &__link {
    padding: 23px 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: $ff-main;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.25px;
    text-align: center;
    color: $color-text--white-07;

    &--all-cats {
      min-width: 120px;
    }

    &--my-cats {
      min-width: 173px;
    }

    &--active {
      color: $color-white;
      background-color: $color-btn-active;
    }
  }
}
