.toggleFavorites {
  width: 48px;
  height: 48px;

  &__fill {
    display: none;
  }

  &:hover {
    & .toggleFavorites__none {
      display: none;
    }

    & .toggleFavorites__fill {
      display: block;
    }
  }
}
